.container {
    @apply mx-auto px-[15px] xl:w-[1170px];
}

.accent-font {
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

    .accent-font span {
        -webkit-text-fill-color: #fff;
    }

.btn {
    @apply inline-block font-bold rounded-[10px] text-[13px] xl:text-[16px] px-[20px] xl:px-[38px] py-[12.5px] xl:py-[10px] ;
}

